.page {
    margin: 0;
    padding: 0;
    color: #222;
    background-color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 270px 1fr 200px;
}
.content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 3em;
}

.fix-top {
    position: sticky;
    top: 0;
}
.brand {
    text-align: center;
    display: block;
}
.brand__logo {
    border-radius: 50%;
}
.brand__sitename {
    font-weight: bold;
}
.brand__description {
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
}

.post {
    display: inline-block;
    max-width: 500px;
}
.post img {
    display: block;
    max-width: 100%;
}

.menu {
    margin-top: 2em;
}
.menu a {
    display: block;
    padding: .5em 1em;
    text-align: center;
}

.pagi {
}
.pagi>* {
    margin-left: .5em;
}
.pagi__item {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #000;
}
.pagi__item:hover {
    background-color: #bdbdbd
}
.pagi__ellipsis {
    font-size: 2em;
}
