.page {
    margin: 0;
    padding: 0;
    color: #222;
    background-color: #f5eade;
    display: grid;
    grid-template-columns: 270px 1fr 200px;
}

.page__panel {
    background-color: #ddb788;
    box-shadow: 0 3px 10px #8d6340;
}

.page__panel-fix {
    position:sticky;
    display: inline-block;
    top: 0;
    width: 100%;
}

.page__content {
    justify-self: center;
}

.page__aside {
    background-color: #f0e0cf;
}


.i {
    text-align:center;
    margin:1em 1em 3em 1em;
    display: block;
}
.i__name {
    text-transform: uppercase;
    font-size: xx-large;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}
.i__logo {
    border-radius: 50%;
    border: 3px solid #fdfdfd;
    box-shadow: 1px 1px 3px #4b2812;
}


.menu {

}

.menu a {
    display: block;
    background-color: #6b4629;
    text-decoration: none;
    padding: .7em 1em;
    text-align:center;
    color: #fff;
    box-sizing: content-box;
    border-bottom: 1px solid #ffffff2e;
    font-size: 1.2em;
    font-family: monospace;
}

.menu a:last-child {
    border-bottom: none;
}

.menu a:hover {
    background-color: #8c6f59;
    transition: background-color 0.5s ease-out 0.1s
}


.post {
    max-width: 510px;
    background-color: #fff;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 4px #cad5a2;
    margin-top: 3em;
}
.post:last-child {
}

.post__media img{
    width: 100%;
    height: auto;
}

.post__text {
    text-align: left;
    line-height: 1.6em;
    font-family: Verdana;
    font-weight: 300;
}

.post__footer {
    text-align: right;
}



.mark {
    color: #222;
    font-size: small;
    display: inline-flex;
    margin-left: 1em;
}
.mark__name {
    margin-right: .5em;
    color: #737373;
}
.mark__name:after {
    content: ":"
}

